/* .card{
    border-radius: 20px;
    border: 2px solid lightgrey;
    box-shadow:5px 5px 5px rgb(42, 42, 42 ,0.8);
    padding: 10px;
    text-align: center;
    max-width: 250px;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
} */

/*........................... button......................... */
/* .btn{
    color: white;
    background-color: darkslategrey;
    font-size: 1.4rem;
    height:50px ;
    width: 400px;
    border: 2px solid white;
    border-radius: 20px;
} */



/* ............................student............................ */
/* .std{
    margin-bottom: 20px;
    border: 2px solid black;
    width: 300px;
    height: 200px;
    text-align: center;
} */

/* ...........................greeting............................ */
/* .txt h2{
color:indigo;
font-size:2.5rem;
margin: 0 0 10px 0;

}
.txt h3{
margin: 0;
color:red
}
h1{
    animation: blink .2s infinite;
}

@keyframes blink{
    from{
        color:blue;
    }
    to{
        color:red;
    }
} */


/* ..........................................RENDERING LISTS ...................*/
/* .fruits{
    height: 200px;
    width: 200px;
    text-align: start;
    padding: 0 10px 0 10px;
    border: 3px solid blue;
    margin-bottom: 10px;
}
.vegetables{
    height: 200px;
    width: 200px;
    text-align: start;
    padding: 0 10px 0 10px;
    border:3px solid red;
} */


/* .............................................event handling.................................. */
/* img{
    height:200px;
    width: 200px;
    border-radius: 50%;
} */


/*  .............................................................counter..........................................*/

/* .counter{
    background-color: lightyellow;
    height: 200px;
    width: 200px;
    border: 2px solid gray;
    border-radius: 20px;
    text-align: center;
}
.counter h1{
    font-size: 3rem;
    color: darkslategrey;
}
button{
    border: 2px solid gray;
    height: 30px;
    width: 60px;
    border-radius: 10px;
   
} */



/* .............................color picker......................................... */

.color-picker{
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    border: 3px solid gray;
    width: 500px;
    height:500px;
}
.color-picker input{
    padding: 2px;
    width: 100px;
    height: 40px;
    border: 2px solid lightslategray;
    
}
.color-display{
    border-radius: 20px;
    width: 100%;
    height: 200px;
}

/* BACKGROUNDCOLOR SETTER */
.BGCOLOR{
    
    height: 100px;
    width: 200px
}

/* mode changer.................................................. */
.lighttxt{
    
    color: white;
}
.darktxt{
    color: black;
}
