/* .card{
    border-radius: 20px;
    border: 2px solid lightgrey;
    box-shadow:5px 5px 5px rgb(42, 42, 42 ,0.8);
    padding: 10px;
    text-align: center;
    max-width: 250px;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
} */

/*........................... button......................... */
/* .btn{
    color: white;
    background-color: darkslategrey;
    font-size: 1.4rem;
    height:50px ;
    width: 400px;
    border: 2px solid white;
    border-radius: 20px;
} */



/* ............................student............................ */
/* .std{
    margin-bottom: 20px;
    border: 2px solid black;
    width: 300px;
    height: 200px;
    text-align: center;
} */

/* ...........................greeting............................ */
/* .txt h2{
color:indigo;
font-size:2.5rem;
margin: 0 0 10px 0;

}
.txt h3{
margin: 0;
color:red
}
h1{
    animation: blink .2s infinite;
}

@keyframes blink{
    from{
        color:blue;
    }
    to{
        color:red;
    }
} */


/* ..........................................RENDERING LISTS ...................*/
/* .fruits{
    height: 200px;
    width: 200px;
    text-align: start;
    padding: 0 10px 0 10px;
    border: 3px solid blue;
    margin-bottom: 10px;
}
.vegetables{
    height: 200px;
    width: 200px;
    text-align: start;
    padding: 0 10px 0 10px;
    border:3px solid red;
} */


/* .............................................event handling.................................. */
/* img{
    height:200px;
    width: 200px;
    border-radius: 50%;
} */


/*  .............................................................counter..........................................*/

/* .counter{
    background-color: lightyellow;
    height: 200px;
    width: 200px;
    border: 2px solid gray;
    border-radius: 20px;
    text-align: center;
}
.counter h1{
    font-size: 3rem;
    color: darkslategrey;
}
button{
    border: 2px solid gray;
    height: 30px;
    width: 60px;
    border-radius: 10px;
   
} */



/* .............................color picker......................................... */

/* .color-picker{
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    border: 3px solid gray;
    width: 500px;
    height:500px;
}
.color-picker input{
    padding: 2px;
    width: 100px;
    height: 40px;
    border: 2px solid lightslategray;
    
}
.color-display{
    border-radius: 20px;
    width: 100%;
    height: 200px;
}

/* BACKGROUNDCOLOR SETTER */
/* .BGCOLOR{
    
    height: 100px;
    width: 200px
}

/* mode changer.................................................. */
/* .lighttxt{
    
    color: white;
}
.darktxt{
    color: black;
} */




/* ..................................digital clock ............................................. */

/* 
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/bag.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed; /*image adjust its size automatically
   

}


.blurbg{
    height: 100vh;
     width: 100%;
     position: fixed;
     inset: 0;
     z-index: -1;
     backdrop-filter: blur(5px);
}
.clock{
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    
}
.clock-box{
    height: 100px;
    width: 100vw;
    background: transparent;
   
}

*/





/* .................................................................... USECONTEXT()...................................................... */

/* .box{
 border: 2px solid blue;
 padding: 25px;
} */


/* .............................................................................STOPWATCH............................................ */

body{
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatch{
    /* background-color: blue; */
    height: 200px;
    width: 700px;
}
.display{
    color: #D3DAD9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    font-size: 100px;
    /* background-color: red; */
    height: 100px;
}
.control{
    margin-top: 40px;
    box-sizing: border-box;
    padding: 0px 50px 0px 50px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    /* background-color: pink; */
    height: 50px;
}
.control button{
    background-color: #D3DAD9;
    color: #202940;
    font-size: 20px;
    text-align: center;
    
    height: 100%;
    width: 90px;
    border: none;
    border-radius: 25px;
}